%nav
  %ul.main-menu
    %li.logo
      %a{href: "/"}
    %li
      %a{href: "/"} Home
    %li.dropdown-link
      %a{href: "#"}
        %span My Life
        %i.fa.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{href: "#"} My Work
        %li
          %a{href: "#"} My Education
        %li
          %a{href: "#"} My Activities
    %li.dropdown-link
      %a{href: "#"}
        %span CSS
        %i.fa.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{href: "/css-examples/full-height", target: "_blank"} Full Height CSS
        %li
          %a{href: "/css-examples/spinner"} Spinners
    %li.dropdown-link
      %a{href: "#"}
        %span Javascript
        %i.fa.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{href: "/js-examples/drag-rect"} Drag Rectangle
        %li
          %a{href: "/js-examples/mouseout"} Mouseout
        %li
          %a{href: "/js-examples/scroll"} Scroll
    %li
      %a{href: "#"} 中文
    %li
      %a{href: "http://exchange.pchui.me/currency-graph"} Investment
    %li
      %a{href: "#"} GitHub
