%nav
  %ul.main-menu
    %li.logo
      %a{href: "/"}
    %li
      %a{href: "/"} Home
    %li.dropdown-link
      %a{href: "#"}
        %span My Life
        %i.fa.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{href: "#"} My Childhood
        %li
          %a{href: "#"} My Work
        %li
          %a{href: "#"} My Education
        %li
          %a{href: "#"} My Philosophy
    %li
      %a{href: "#"} Techniques
    %li
      %a{href: "#"} My 中文
    %li
      %a{href: "http://exchange.pchui.me/currency-graph"} Investment
